<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>judy W1P2</title>
    <link rel="stylesheet" href="./public/css/login.css">
</head>
<body>
    <section>
        <div>
            <h2 class="header">
                아무 말 대잔치
            </h2>
            <br class="header-line">
        </div>    
    </section>
        <div class="login-box title"><h3>로그인</h3></div>
        <div class="login-box formbox">
            <form method='method' action='action'>
                <p>이메일</p>
                <input type='type' name='name' placeholder='이메일을 입력하세요'>
                <p>비밀번호</p>
                <input type='type' name='name' placeholder='비밀번호를 입력하세요'>
                <div><input class="button login" type='submit' value='로그인'></div>
            </form>
        </div>
        <div class="login-box signup"><a href="/signup">회원가입</a></div>
    <section>

    </section>
</body>
</html>