{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/overheader.css">
    <link rel="stylesheet" type="text/css" href="../static/css/post-contents.css">
    <link rel="stylesheet" type="text/css" href="../static/css/card.css">
{% endblock %}

{% block overheader %}
<div class="overheader">
    <div class="button-back">

    </div>
    <div class="profile">

    </div>
</div>        
{% endblock %}


{% block content %}
    <section class="posts-section">
        <div class="space"></div>
        <div class="posts-title"><p>안녕하세요,<br>아무말 대잔치 <strong>게시판</strong> 입니다.</p></div>
        <div class="space"></div>
        <div class="button-write-parent"><button class="button-write" type='submit'>게시글 작성</button></div>
        <div class="space"></div>

        <article class="contents-title">
            <div class="title"><h3>제목 1</h3></div>
            <div class="subtitle">
                <div class="profile">
                    <div class="user-image">
                        <!-- 이미지 경로가 있다면 여기에 <img src="{{ card.imagePath }}" alt="..."> 추가 -->
                    </div>
                    <div class="user-name">
                        <h4>더미 작성자 1</h4>
                    </div>
                    <div class="date">
                        <p>2021-02-02</p>
                        <p>00:00:00</p>
                    </div>
                </div>
                <div class="edit-button-parent">
                    <button class="button-edit">수정</button>
                    <button class="button-delete">삭제</button>
                </div>
            </div>            
        </article>
        <hr class="contents-title-line">
        <article class="contents-middle">
            <div class="image">
                <img>
            </div>
            <div class="text">
                <p>
                    무엇을 얘기할까요? 아무말이라면, 삶은 항상 놀라운 모험이라고 생각합니다. 우리는 매일 새 로운 경험을 하고 배우며 성장합니다. 때로는 어려움과 도전이 있지만, 그것들이 우리를 더 강 하고 지혜롭게 만듭니다. 또한 우리는 주변의 사람들과 연결되며 사랑과 지지를 받습니다. 그래 서 우리의 삶은 소중하고 의미가 있습니다.
                    자연도 아름다운 이야기입니다. 우리 주변의 자연은 끝없는 아름다움과 신비로움을 담고 있습 니다. 산, 바다, 숲, 하늘 등 모든 것이 우리를 놀라게 만들고 감동시킵니다. 자연은 우리의 생명 과 안정을 지키며 우리에게 힘을 주는 곳입니다.
                    마지막으로, 지식을 향한 탐구는 항상 흥미로운 여정입니다. 우리는 끝없는 지식의 바다에서 배 우고 발견할 수 있으며, 이것이 우리를 더 깊이 이해하고 세상을 더 넓게 보게 해줍니다.
                    그런 의미에서, 삶은 놀라움과 경이로움으로 가득 차 있습니다. 새로운 경험을 즐기고 항상 앞 으로 나아가는 것이 중요하다고 생각합니다.
                </p>
            </div>
            <div class="box-parent">
                <div class="box1">
                    <p>123</p>
                    <p>조회수</p>
                </div>
                <div class="box2">
                    <p>123</p>
                    <p>댓글</p>
                </div>
            </div>
        </article>
        <hr class="contents-middle-line">
        <div class="space"></div>
        <article class="contents-command">
            <div class="command-box">
                <h4>댓글을 남겨주세요!</h4>
                <hr>
                <div class="button-command-parent"><button class="button-command" type='submit'>댓글 등록</button></div>
            </div>
        </article>

        {% for command in commands %}
        <article class="command-parent">
            <div class="command-subtitle">
                <div class="command-profile">
                    <div class="user-image">
                        <!-- 이미지 경로가 있다면 여기에 <img src="{{ card.imagePath }}" alt="..."> 추가 -->
                    </div>
                    <dib>
                        <div>
                            <div class="user-name">
                                <h4>{{ command.author }}</h4>
                            </div>
                            <div class="date">
                                <p>{{ command.date }}</p>
                                <p>{{ command.time }}</p>
                            </div>
                        </div>
                        <div>
                            <h4>덧글내용</h4>
                        </div>
                    </dib>
                </div>
                <div class="command-button-parent">
                    <button class="button-edit">수정</button>
                    <button class="button-delete">삭제</button>
                </div>
            </div>            
        </article>

        {% endfor %}
  
  
    </section>
{% endblock %}
