{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/overheader.css">
    <link rel="stylesheet" type="text/css" href="../static/css/profile-edit2.css">
{% endblock %}

{% block overheader %}
<div class="overheader">
    <a href="/login"><div class="button-back"></div></a>
    <div class="profile">
        <div class="dropdown">
            <button class="dropbtn"></button>
            <div class="dropdown-content">
              <a href="/profile-edit1">회원정보 수정</a>
              <a href="/profile-edit2">비밀번호 수정</a>
              <a href="/login">로그아웃</a>
            </div>
          </div>
    </div>
</div>        
{% endblock %}

{% block content %}
    <section class="login-section">
        <div class="login-title"><h2>비밀번호 수정</h2></div>
        <div class="formbox">
            <form method='post' action='/posts'>
                <p class="formtext">비밀번호</p>
                <input type='password' name='password' placeholder='이메일을 입력하세요'>
                <p class="helptext">* helper text</p>
                <p class="formtext">비밀번호 확인</p>
                <input type='password' name='password' placeholder='비밀번호를 입력하세요'>
                <p class="helptext">* helper text</p>
                <div class="space"></div>
                <div><button class="button-login" type='submit'>수정하기</button></div>
            </form>
        </div>
    </section>
{% endblock %}
