{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/post-write.css">
{% endblock %}

{% block content %}
    <section class="login-section">
        <div class="login-title"><h3>게시글 작성</h3></div>
        <div class="formbox">
            <div method='post' action='/posts'>
                <p class="formtext">제목*</p>
                <hr class="line">
                <div class="input-parent"><input class="input-title" type='text' placeholder='제목을 입력해주세요. (최대 26글자)'></div>
                <hr class="line">
                <div class="space"></div>
                <p class="formtext">내용*</p>
                <hr class="line">
                <div class="input-parent"><textarea class="input-content" type='text' placeholder='내용을 입력해주세요'></textarea></div>
                <hr class="line">
                <p class="helptext">* helper text</p>
                <div class="space"></div>
                <p class="formtext">이미지</p>
                <div class="image-file-parents">
                    <button class="image-file">파일 선택</button>
                    <p>파일을 선택해 주세요</p>
                </div>
                <div class="space"></div>
                <div><button class="button-write" type='submit'>완료</button></div>
            </form>
        </div>
    </section>
{% endblock %}
