{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/css/posts.css">
    <link rel="stylesheet" type="text/css" href="/css/post-card.css">
{% endblock %}

{% block js %}
    <script src="/js/posts-load.js"></script>
{% endblock %}

{% block content %}
    <section class="posts-section">
        <div class="space"></div>
        <div class="posts-title"><p>안녕하세요,<br>아무말 대잔치 <strong>게시판</strong> 입니다.</p></div>
        <div class="space"></div>
        <div class="button-write-parent">
            <a href="/post-write" class="button-write">게시글 작성</a>    
        </div>
        <div class="space"></div>

        <!--게시글 동적 생성-->
        <div id="posts-container"></div>
        
    </section>
{% endblock %}
