{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/css/profile-edit1.css">
{% endblock %}

{% block js %}
    <script src="/js/delete-modal.js"></script>
    <script src="/js/profile-edit1.js"></script>
{% endblock %}

{% block content %}
    <section class="login-section">
        <div class="login-title"><h2>회원정보 수정</h2></div>
        <div class="formbox">
            <form id="edit1Form" enctype="multipart/form-data">
                <p class="formtext">프로필 사진*</p>
                <p class="helptext profileImage hide">* helptext</p>

                <input id="uploadProfileImage2" type="file" name="profileImage" accept="image/*" style="display:none"/>
                <div class="profile-image-parent" onclick="document.getElementById('uploadProfileImage2').click()">
                    <div id="profileImagePreview" class="profile-image"></div>               
                    <div class="button-edit-image">변경</div>  
                </div>

                <p class="formtext">이메일</p>
                <p class="email">email</p>
                
                <p class="formtext">닉네임</p>
                <input class="inputNickname" id="inputNickname" type='text' name='text' placeholder='닉네임을 입력하세요'>
                <p class="helptext nickname hide">* helptext</p> 

                <div class="space"></div>
                <div><button id="nicknameButton" class="button-login" type='submit'>수정하기</button></div>
                <div class="space"></div>
                <!-- 모달 컨텐츠 -->
                <div id="edit-button-modal" class="delete-modal edit-delete-modal">                        
                    <div class="modal-content">
                        <p class="text1">회원탈퇴 하시겠습니까?</p>
                        <p class="text2">작성된 게시글과 댓글은 삭제됩니다.</p>
                        <div class="space"></div>
                        <div class="modal-actions">
                            <button id="edit-cancel" class="modal-button cancel">취소</button>
                            <button id="edit-delete" class="modal-button delete">확인</button>
                        </div>
                    </div>
                </div>
                <!-- 모달 열기 버튼 -->
                <div id="edit-button-delete" class="login-signup button-delete edit-button-delete">회원 탈퇴</div>
                <div class="large-space"></div>
                <div><button class="button-final" type='submit'>수정완료</button></div>
            </form>
        </div>
    </section>
{% endblock %}
