{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="../static/css/profile-edit1.css">
{% endblock %}

{% block content %}
    <section class="login-section">
        <div class="login-title"><h2>회원정보 수정</h2></div>
        <div class="formbox">
            <form method='post' action='/posts'>
                <p class="formtext">프로필 사진*</p>
                <div class="profile-image-parent">
                    <div class="profile-image"></div>
                    <div class="button-edit-image">변경</div>
                </div>
                <p class="formtext">이메일</p>
                <p class="email">startupcode@gmail.com</p>
                <p class="formtext">닉네임</p>
                <input type='text' name='text' placeholder='닉네임을 입력하세요'>
                <p class="helptext">* helper text</p>
                <p class="helptext nicknameSucc hide">* 사용할 수 있는 닉네임입니다.</p>
                <p class="helptext nicknameErr1 hide">* 닉네임을 입력해 주세요.</p>
                <p class="helptext nicknameErr2 hide">* 닉네임은 띄어쓰기가 불가하고, 10글자 이내여야 합니다.</p>
                <p class="helptext nicknameErr3 hide">* 띄어쓰기를 없애주세요.</p>
                <p class="helptext nicknameErr4 hide">* 닉네임은 최대 10글자까지 작성 가능합니다.</p>
                <p class="helptext nicknameErr5 hide">* 중복된 닉네임입니다.</p>
                <div class="space"></div>
                <div><button class="button-login" type='submit'>수정하기</button></div>
                <div class="space"></div>
                <div><a class="login-signup" href="/login">회원 탈퇴</a></div>
                <div class="large-space"></div>
                <div><button class="button-final" type='submit'>수정완료</button></div>
            </form>
        </div>
    </section>
{% endblock %}
